.btn {
    padding: 5px;
    min-width: 50px;
    border: none;
    margin-top: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.btnAdd {
    background-color: #e6e5e5;
    margin-right: 10px;
    color: black;
}

.btnAdd:hover {
    background-color: #ececec;
    color: black;
}

.btnRemove {
    background-color: #b94a48;
    margin-right: 10px;
    color: white;
}

.btnRemove:hover {
    background-color: #c74a48;
}

.btnMenu {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #bd3632;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 1em;
    height: 40px;
}

.btnMenu:hover {
    background-color: #9e2c2b;
    box-shadow: none;
}